@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-charcoal: #121212;
  --color-bronze: #b07d47;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-charcoal);
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
